body {
  font-family: Calibri;
  transition: 0.2s ease;
  text-align: center;
  background-color: rgb(78, 140, 255);
}

#main-head {
  background-color: rgb(24, 24, 24);
}

.heading {
  font-family: 'IM Fell English SC', serif;
  font-weight: bold;
}

#game-heading {
  background-color: rgb(94, 94, 94);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
  border-left: 1px solid rgb(236, 235, 235);
  border-top: 1px solid rgb(236, 235, 235);
}

li a {
  display: block;
  color: rgb(236, 235, 235);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(24, 24, 24);
}

.text {
  color: rgb(236, 235, 235);
}

#home {
  float: left;
  border-right: 1px solid rgb(236, 235, 235);
}

.maze-game-container.success  {
  background-color: #b7f0b7;
  transition: 0.2s ease;
}

.maze-game-container {
  margin: 0px auto;
  font-family: 'Tangerine', cursive;
  font-size: 30px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 550px;
  border-bottom: 5px solid rgb(78, 78, 78);
  border-right: 5px solid rgb(78, 78, 78);
  border-top: 5px solid rgb(207, 207, 207);
  border-left: 5px solid rgb(207, 207, 207);
}

#maze-map-and-controls {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

p {
  margin: 50px 0px; /* 10 ox */
  padding: 0px;
  text-align: center;
}

.maze-map {
  position: relative;
  margin: 0px auto;
}

div.layer, 
div.layer div {
  position: absolute;
}

.Easy .floor {
  background-color: rgb(116, 116, 116);
  border: 2px solid rgb(88, 88, 88);
}
.Easy .wall {
  background-color: rgb(146, 93, 31);
  border: 2px solid rgb(180, 114, 39);
}

.player, 
.exit {
  transform-origin: center;
  transform:scale(0.85);
}

.player {
  background-color: #fff;
  border: 2px solid gold;
  transition: left 0.2s linear, top 0.2s linear;
}

.exit {
  background-color: #000;
  border: 2px solid gold;
}

#exit-message {
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  padding: 5px 5px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: calc(100% - 8px);
}

.maze-game-container #success-msg {
  opacity: 1;
  transition: opacity 0.2 ease;
}

.player-console{
  background-color: #98720b;
  border-top: 5px solid #c9970e;
  border-left: 5px solid #c9970e;
  border-bottom: 5px solid #5c4505;
  border-right: 5px solid #5c4505;
}

.footer {
  font-family: 'IM Fell English SC', serif;
  background-color: rgb(24, 24, 24);
  text-align: right;
  font-weight: bold;
}

.border {
  border-bottom: 5px solid rgb(78, 78, 78);
  border-right: 5px solid rgb(78, 78, 78);
  border-top: 5px solid rgb(207, 207, 207);
  border-left: 5px solid rgb(207, 207, 207);
}