body {
  font-family: Calibri;
  transition: 0.2s ease;
  text-align: center;
  background-color: rgb(53, 120, 245);
}

.navbar {
  background-color: black;
  color: white;
}

.maze-game-container.success  {
  background-color: #b7f0b7;
  transition: 0.2s ease;
}

.maze-game-container {
  margin: 0px auto;
  font-family: 'Tangerine', cursive;
  font-size: 30px;
  background-color: white;
}

#maze-map-and-controls {
  display: flex;
  justify-content: center;
}

p {
  margin: 50px 0px; /* 10 ox */
  padding: 0px;
}

.maze-map {
  position: relative;
  margin: 0px auto;
}

div.layer, 
div.layer div {
  position: absolute;
}

.easy .floor {
  background-color: rgb(116, 116, 116);
  border: 2px solid rgb(88, 88, 88);
}
.easy .wall {
  background-color: rgb(146, 93, 31);
  border: 2px solid rgb(180, 114, 39);
}

.player, 
.exit {
  transform-origin: center;
  transform:scale(0.85);
}

.player {
  background-color: #90ee90;
  border: 1px solid green;
  transition: left 0.2s linear, top 0.2s linear;
}

.exit {
  background-color: #FFD700;
  border: 1px solid #98720b;
}

#exit-message {
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  padding: 5px 5px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: calc(100% - 8px);
}

.maze-game-container #success-msg {
  opacity: 1;
  transition: opacity 0.2 ease;
}